
@import url(https://fonts.googleapis.com/css?family=Unica+One);

html, body {
  /*background-color: #313131;*/
  background-color: #06121a;
  /*#0e1c25*/
  font-family: 'Unica One';
  color: #A2A39C;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

a, a:visited {

  text-decoration: none;
  opacity: .8;
  word-break: break-word;
  transition: opacity .5s ease;
}

a:hover {
  opacity: 1;
}

h1 {
  display: block;
  text-align: center;
}



/* Tooltip */
.highcharts-tooltip {
  cursor: default;
  pointer-events: none;
  white-space: nowrap;
  transition: stroke 150ms;

}
.highcharts-tooltip text {
  fill: #F0F0F0;
  color: #F0F0F0;
}
.highcharts-tooltip .highcharts-header {
  font-size: 0.85em;
}
.highcharts-tooltip-box {
  stroke-width: 1px;
  stroke: rgba(249, 38, 115, 0.7);
  fill: rgba(6, 18, 26, 0.7);
  fill-opacity: 0.7;
}

body::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
body::-webkit-scrollbar-track {
  background-color: rgba(255,255,255,0);
  border: 0 none
}
body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,.14);
  -webkit-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.05), inset 1px 1px 0px rgba(255, 255, 255, 0.05);
  box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0.05), inset 1px 1px 0px rgba(255, 255, 255, 0.05);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    height: 14px;
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.085);
    -webkit-box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0), inset 1px 1px 0px rgba(255, 255, 255, 0);
    box-shadow: inset -1px -1px 0px rgba(255, 255, 255, 0), inset 1px 1px 0px rgba(255, 255, 255, 0)
}
body::-webkit-scrollbar-button {display: none; }
body::-webkit-scrollbar-corner {background-color: rgba(255,255,255,0); }

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media only screen and (max-width: 1440px) {
  html, body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  html, body {
    font-size: 13px;
  }
}

@media only screen and (max-width: 600px) {
  html, body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  html, body {
    font-size: 10px;
  }
}



.sk-folding-cube {
  margin: 20px auto;
  width: 60px;
  height: 60px;
  left: 30px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F92672;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
